* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.cover {
    display: flex;
    height: 100vh;
    background-color: lightgray;
}


#exit {
    display: none;
}

/* Login */
.logincontent {
    background-color: white;
    margin: auto;
    width: 380px;
    padding: 40px;
    border-radius: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    margin-bottom: 40px;
}

.login input, button, a {
    margin-bottom: 15px;
    font-size: 20px;
}

.login input {
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 10px
}

.login button {
    border: 0;
    padding: 10px;
    background-color: rgb(99, 99, 226);
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.login a {
    text-align: center;
    text-decoration: none;
}

.newaccount {
    text-align: center;
    margin-bottom: 35px;
}

.newaccount a {
    text-decoration: none;
    padding: 20px 15px 20px 15px;
    background-color: rgb(87, 213, 87);
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

/* Register */
.registercontent {
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
}

.registercontent header {
    border-bottom: 1px solid lightgray;
    padding: 15px;
}

.register {
    padding: 15px;
    /* box-sizing: border-box; */
    display: flex;
    flex-wrap: wrap;

}

.w100 {
    width: 100%;

}

.w50 {
    width: 50%;
}

.inputcover {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.inputcover > input, select {
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    color: gray;
}

.inputcover > button {
    padding: 20px 50px 20px 50px;
    background-color: rgb(111, 185, 111);
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}

.backlogin {
    text-align: center;
    margin-top: -12px;
}



